.loading-bg{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	background: #fff;
}
.ytp-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}
.ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
}
.ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
}
.ytp-spinner-left {
  right: 49%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.ytp-spinner-circle {
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  border-color: #666 #666 transparent;
  border-radius: 50%;
  border-width: 6px;
}
.ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: transparent;
  -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
}
.ytp-spinner-right {
  left: 49%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: transparent;
  -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
}
@-webkit-keyframes ytp-spinner-linspin {
	100%{
	  transform: rotate(360deg);
	}
}
@-moz-keyframes ytp-spinner-linspin {
	100%{
	  transform: rotate(360deg);
	}
}
@-webkit-keyframes ytp-spinner-easespin{
	12.5%{
	  transform: rotate(135deg);
	}25%{
	  transform: rotate(270deg);
	}37.5%{
	  transform: rotate(405deg);
	}50% {
	  transform: rotate(540deg);
	}62.5%{
	  transform: rotate(675deg);
	}75% {
	  transform: rotate(810deg);
	}87.5% {
	  transform: rotate(945deg);
	}100% {
	  transform: rotate(1080deg);
	}
}
@-moz-keyframes ytp-spinner-easespin{
	12.5%{
	  transform: rotate(135deg);
	}25%{
	  transform: rotate(270deg);
	}37.5%{
	  transform: rotate(405deg);
	}50% {
	  transform: rotate(540deg);
	}62.5%{
	  transform: rotate(675deg);
	}75% {
	  transform: rotate(810deg);
	}87.5% {
	  transform: rotate(945deg);
	}100% {
	  transform: rotate(1080deg);
	}
}
@-webkit-keyframes ytp-spinner-left-spin{
	0% {
  	transform: rotate(130deg);
	}50%{
	  transform: rotate(-5deg);
	}100%{
	  transform: rotate(130deg);
	}
}
@-moz-keyframes ytp-spinner-left-spin{
	0% {
  	transform: rotate(130deg);
	}50%{
	  transform: rotate(-5deg);
	}100%{
	  transform: rotate(130deg);
	}
}
@-webkit-keyframes ytp-right-spin{
	0%{
    transform: rotate(-130deg);
	}50%{
	  transform: rotate(5deg);
	}100%{
	  transform: rotate(-130deg);
	}
}
@-moz-keyframes ytp-right-spin{
	0%{
    transform: rotate(-130deg);
	}50%{
	  transform: rotate(5deg);
	}100%{
	  transform: rotate(-130deg);
	}
}
/*路由动画*/
.getInto-enter-active, .getInto-leave-active {
  transition: opacity .8s;
}
.getInto-enter, .getInto-leave-to{
  opacity: 0;
}